{% load i18n cms_tags sekizai_tags static %}

<link rel="stylesheet" href="{% static 'aldryn_forms/css/honeypotcaptcha.css' %}">

<form method="post"
    {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}
    {% if instance.form_attributes %} {{ instance.form_attributes_str }}{% endif %}
    {% if instance.custom_classes %} class="{{ instance.custom_classes }}"{% endif %}>

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endif %}

    {% if post_success %}
        <p>
            {% if form_success_url %}
                {% if not instance.show_form_summary %}
                    {% blocktrans %}You will be <a href="{{ form_success_url }}">redirected shortly</a>.{% endblocktrans %}
                {% else %}
                    {% blocktrans %}<a href="{{ form_success_url }}">Click here</a> to continue to the next page.{% endblocktrans %}
                {% endif %}

            {% elif instance.success_message %}
                {{ instance.success_message }}
            {% else %}
                {% blocktrans %}Thank you for submitting your information.{% endblocktrans %}
            {% endif %}
        </p>

        {% if instance.show_form_summary %}
            <div>
                <div id="submitted-form-summary">
                    <h2>{% trans 'Form Summary' %} - {{ form.instance.name }}</h2>

                    {% for fieldset in form.instance.get_form_summary %}
                        {% if fieldset.legend %}
                            <h3>{{ fieldset.legend }}</h3>
                        {% endif %}

                        <ul>
                            {% for field in fieldset.fields %}
                                <li>
                                    <h4>{{ field.label }}</h4>

                                    {% if field.value %}
                                        {% if field.plugin_field_type == 'multipleselectfield' or  field.plugin_field_type == 'pilotmultiplecheckboxselectfield' %}
                                            <ul>
                                                {% for value_option in field.value %}
                                                    <li>{{ value_option|linebreaksbr }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <p>{{ field.value|linebreaksbr }}</p>
                                        {% endif %}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}

                    <hr />

                    <ul>
                        <li>
                            <h4>URL</h4>
                            <p>{{ request.build_absolute_uri }}</p>
                        </li>
                        <li>
                            <h4>{% trans 'Date' %}</h4>
                            <p>{% now "d.m.Y, H:i" %}</p>
                        </li>
                    </ul>
                </div>
                <button onclick="printFormSummary()">{% trans 'Print form summary' %}</button>
            </div>
        {% endif %}
    {% else %}
        {% csrf_token %}
        {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
    {% endif %}
</form>


{% if post_success %}
    {% if instance.show_form_summary %}
        {% addtoblock "js" %}
            <script>
                function printFormSummary() {
                    var formSummary = document.getElementById('submitted-form-summary');
                    var WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
                    var content = `${window.location.href} \n<br /><br />\n` + formSummary.innerHTML;
                    WinPrint.document.write(content);
                    WinPrint.document.close();
                    WinPrint.focus();
                    WinPrint.print();
                    WinPrint.close();
                }
            </script>
        {% endaddtoblock %}
    {% elif form_success_url %}
        {# INFO: this solution is currently required because we can't redirect from a plugin. #}
        {% addtoblock "js" %}
            <script>
                setTimeout(function () {
                    window.location.href = '{{ form_success_url }}';
                }, 5000);
            </script>
        {% endaddtoblock %}
    {% endif %}
{% endif %}
